---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Things Unbuilt">
  <h1 class="text-2xl font-bold mb-10">welcome to +Things Unbuilt+</h1>
  <p class="text-l text-black-700">hello friends</p>

  <div class="mt-8">
    <h2 class="text-2l font-semibold mb-2">somewhat serious projects</h2>
    <ul class="list-disc pl-5 space-y-1">
      <li><a href="/projects/shade" class="text-grey-600 hover:underline">shade</a></li>
      <li><a href="/projects/table" class="text-grey-600 hover:underline">table</a></li>
      <li><a href="/projects/candle" class="text-grey-600 hover:underline">candle</a></li>
    </ul>
  </div>
</BaseLayout>
