---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="randoms">
  <h1 class="text-2xl font-bold mb-6">random explorations</h1>
  <p>This page is for all kinds of ideas that don't fit into the main projects.</p>
</BaseLayout>
