---
import '/src/styles/global.css';
import FloatingFeedback from '../../components/FloatingFeedback.astro';

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SHADE</title>
  </head>
  <body class="font-sans p-4 max-w-screen-md mx-auto">
    <nav class="space-x-4 text-lg">
      <a href="/" class="hover:underline">home</a>
      <a href="/projects" class="hover:underline">projects</a>
      <a href="/randoms" class="hover:underline">randoms</a>
      <a href="/blog" class="hover:underline">blog</a>
        </div>
      </div>
    </nav>

    <main class="max-w-3xl mx-auto p-4 space-y-8">
      <h1 class="text-9xl font-bold">SHADE</h1>
      

      <section class="grid grid-cols-1 gap-4">
        <img src="/shade 2.jpg" alt="Image 1" class="mb-4" />
      </section>

      <p class="text-gray-700 font-bold">where we designed a sun shade for a wonderful parking lot wedding</p>
      <p class="mb-20">


      <section class="grid grid-cols-1 gap-4">
        <img src="/shade 1.jpg" alt="Image 2" class="mb-20" />
        <img src="/shade 4.jpg" alt="Image 3" class="mb-20" />
        <img src="/shade detail 1.jpg" alt="Image 4" class="mb-20" />
        <img src="/shade detail 2.jpg" alt="Image 5" class="mb-20" />
        <img src="/shade construction.jpg" alt="Image 6" class="mb-20" />
        <img src="/shade construction 2.jpg" alt="Image 7" class="mb-20" />
        <img src="/shade dark.jpg" alt="Image 8" class="mb-20" />




      </section>


      
    </main>

    <script>
      function updateMainImage(src) {
        const main = document.getElementById('mainImage');
        main.src = src;
      }
    </script>
  </body>
</html>
<FloatingFeedback />
